body {
  margin: 0;
  padding: 0; }

.main-nav {
  display: flex;
  list-style-type: none;
  background-color: #395a7b;
  padding-left: 0; }
  .main-nav li {
    padding: 10px 15px;
    position: relative; }
    .main-nav li:hover {
      text-shadow: 2px 2px 7px white; }
    .main-nav li a {
      color: #e4e4e4;
      text-decoration: none;
      padding: 10px;
      display: inline-block; }
    .main-nav li .dropdown {
      list-style-type: none;
      position: absolute;
      left: 0;
      width: 400px;
      top: 100%;
      padding: 0;
      display: none; }
      .main-nav li .dropdown li a {
        color: #504f4f;
        text-decoration: none;
        display: block; }
      .main-nav li .dropdown li:hover {
        background-color: #e4e4e4; }
      .main-nav li .dropdown.level-1 {
        background-color: white;
        border: 2px solid #e4e4e4; }
        .main-nav li .dropdown.level-1 li {
          padding: 0; }
      .main-nav li .dropdown.level-2 {
        background-color: #e4e4e4;
        top: -2px;
        left: 100%;
        color: #000;
        padding: 5px; }
        .main-nav li .dropdown.level-2 li {
          padding: 10px; }
          .main-nav li .dropdown.level-2 li:hover {
            background-color: white; }
    .main-nav li:hover > .dropdown {
      display: block; }

.container-left {
  display: flex;
  float: left; }

.container-right {
  margin-left: auto;
  display: flex; }

.para {
  font-size: 20px; }

.dropdown-icon {
  width: 10%;
  padding: 5px;
  display: inline-block; }
  .dropdown-icon img {
    width: 100%;
    vertical-align: middle; }

.arrow {
  float: right;
  margin-top: 10px; }

.material-icons {
  margin-top: 8px;
  font-size: 24px;
  color: #e4e4e4; }
