body { 
	margin:0; 
	padding:0; 
}

.main-nav{
	display: flex;
	list-style-type:none;
	background-color: #395a7b;
	padding-left: 0;

  li{
    padding: 10px 15px;
		position: relative;
		&:hover {
			text-shadow: 2px 2px 7px white; 
		}
    a{
			color:rgb(228, 228, 228);
			text-decoration: none;
      padding: 10px;
      display: inline-block;
    }
    .dropdown{
			list-style-type:none;
      position: absolute;
      left: 0;
      width: 400px;
      top: 100%;
      padding:0;
      display: none;
      li{
        a{
					color:rgb(80, 79, 79);
					text-decoration: none;
          display: block;
				}
				&:hover {
					background-color: rgb(228, 228, 228);
				}
			}
			&.level-1 {
				background-color: white;
				border: 2px solid rgb(228, 228, 228);
				li {
					padding: 0;
				}
			}
      &.level-2{
				background-color: rgb(228, 228, 228);
				top:-2px;
				left: 100%;
				color: #000;
				padding:5px;
				
				li {
					padding:10px;

					&:hover {
						background-color: rgb(255, 255, 255);
					}
				}
			}
    }
    &:hover > .dropdown {
      display: block;
    }
  }
}

.container-left {
	display: flex;
	float:left;
}

.container-right {
	margin-left: auto;	
	display: flex;
}

.para {
	font-size: 20px;
}

.dropdown-icon {
	width:10%;
	padding:5px;
	display: inline-block;

	img {
		width: 100%;	
		vertical-align: middle;	
	}
}
.arrow {
	float: right;
	margin-top: 10px;
}	

.material-icons {
	margin-top: 8px;
	font-size: 24px;
  color: rgb(228, 228, 228);
}
